#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: left;
  }
 
body {
    margin: 0;
    font-family: -apple-system, 'Inter' ,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: '#F0F0F0';
}  